<html>
<head>
<title>
Bench Bot
</title>
     <style>
          .home {
               background-color: white;
               border: 2px green;
               color: green;
               padding: 5px 10px;
               text-align: center;
               display:inline-block;
               font-size: 20px;
               margin: 10px 30px;
               cursor: pointer;
          }
</style>
</head>
<body>
<h1>Return Main</h1>
<button class="home" onclick="window.location.href='http://10.138.198.250:5000/home';">Home</button>
</body>
</html>

